#about {
    background: #fff;
    padding: 50px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

#about p {
    font-size: 1em;
    line-height: 1.6;
}
