/* src/components/Contact.css */
#contact {
    background: #fff;
    padding: 50px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

#contact form {
    display: flex;
    flex-direction: column;
}

#contact form label {
    margin-bottom: 10px;
    font-weight: bold;
}

#contact form input,
#contact form textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

#contact form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #333;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
}

#contact form button:hover {
    background: #555;
}

